travaux/oddex/test.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:svg="http://www.w3.org/2000/svg"
  xmlns:math="http://www.w3.org/1998/Math/MathML" xmlns="http://www.tei-c.org/ns/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Title</title>
      </titleStmt>
      <publicationStmt>
        <p>Publication Information</p>
      </publicationStmt>
      <sourceDesc>
        <p>Information about the source</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <schemaSpec ns="" start="book" ident="bookSchema">
        <elementSpec ident="book">
          <desc>Elément racine d'un schéma simplissime pour encoder les livres</desc>
          <content>
            <alternate minOccurs="1" maxOccurs="unbounded">
              <elementRef key="para"/>
              <elementRef key="image"/>
            </alternate>
          </content>
        </elementSpec>
        
        <elementSpec ident="para">
          <desc>une paragraph de text </desc>
          <content>
            <textNode/>
          </content>
        </elementSpec>
        <elementSpec ident="image">
          <desc>un élément vide qui pointe sur un fichier graphique</desc>
          <content/>
          <attList>
            <attDef ident="href">
              <desc>fournit l' URI de l'objet ciblé</desc>
              <datatype>
                <dataRef name="anyURI"/>
              </datatype>
            </attDef>
          </attList>
        </elementSpec>
      </schemaSpec>
      
    </body>
  </text>
</TEI>
